html {
  /* background: green; */
}

form {
  border: 2px solid pink;
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 32px;
}

.Form-title {
  margin: 0;
}

.Form-text {
  height: 30px;
  width: 80%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.Form-text:focus, .Form-submit:focus {
  outline:none;
}

.Form-submit {
  background: pink;
  border-radius: 50%;
  border: 1px solid pink;
  font-size: 20px;
  color: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  /* padding: 20px; */
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
