.App {
  text-align: center;
}

.Taskform {
  border: 2px solid pink;
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 32px;
}

.Form-title {
  margin: 0;
}

.Form-text {
  height: 27px;
  width: 80%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.Form-text:focus, .Form-submit:focus {
  outline:none;
}

.Form-submit {
  background: pink;
  border-radius: 50%;
  border: 1px solid pink;
  font-size: 13px;
  color: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  /* padding: 20px; */
  position: absolute;
  top: 2px;
  right: 7px;
  cursor: pointer;
}


.Task-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 5px 10px;
}

.Task-li {
  list-style: none;
  text-align: left;
  width: 72%;
  overflow-wrap: break-word;
}
.btn {
  margin: 0 2px;
  padding: 3px 6px; 
}